@model IEnumerable<TestApplicationHostel.Models.Guest>

@{ 
    ViewBag.Title = "Guests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Goście</h2>

@if(!Model.Any())
{
    <p>Nie ma żadnych gości</p>
}

else
{
    <table id="guests" class=" table table-bordered table-hover">
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>EMail</th>
            <th>Id</th>
            <th>Data Urodzenia</th>
            <td>Numer rezerwacji</td>
           
            
            
            
        </tr>
        <tbody>
            @foreach(var guest in Model)
            {
                <tr>
                    <td>@Html.ActionLink(guest.Name, "Details", "Guests", new { id = guest.ID }, null)</td>
                    <td>@guest.SurName</td>
                    <td>@guest.EMail</td>
                    <td>@guest.ID</td>
                    <td>@guest.DateOfBirth.Value.ToShortDateString()</td>
                   
                    
                    
                    
                    
                    
                 
                    
                    
                </tr>
            }
        </tbody>

                      

    </table>
}

@section scripts
    {
        <script>
            $(document).ready(function () {
                $("#guests").DataTable();
               
            });
        </script>
    }

